<div style="margin-bottom:15px">
    <label>Selected Board:&nbsp;</label>
    <select class="form-control" ng-options="cellBoard.name for cellBoard in cellBoardList"
        ng-model="selected.cellBoard"></select>
</div>

<div style="margin-bottom:15px">

  <cell-board ng-model="selected.cellBoard"
    scale-vertical="20"
    scale-horizontal="60">
  </cell-board>

</div>

<div style="margin-bottom:15px">
  <button class="btn btn-success" ng-click="addRows()">
      Add Rows
  </button>
  <button class="btn btn-warning" ng-disabled="!selected.cellBoard.selectedCell"
          ng-click="changeColor()">
      Change Cell Color
  </button>
  <button class="btn btn-danger" ng-disabled="!selected.cellBoard.selectedCell"
          ng-click="deleteRow()">
      Delete Row
  </button>
  <button class="btn btn-primary" ng-disabled="!selected.cellBoard.selectedCell"
          ng-click="duplicateRow()">
      Duplicate Row
  </button>
</div>

<div class="well well-lg">
  <div ng-show="selected.cellBoard.selectedCell"
       style="padding:15px"
       ng-style="{'background-color' : selected.cellBoard.selectedCell.color}">
      <div>
          Selected Cell: <br />
          {{selected.cellBoard.selectedCell.id}} : {{selected.cellBoard.selectedCell.color}}
      </h1>
  </div>
  <div ng-show="!selected.cellBoard.selectedCell">
      <h1>No selection</h1>
  </div>
</div>
